main {
  .lead {
    font-style: none;
    font-size: 22px;
    color: white;
  }

  .tel {
    @extend .lead;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
  }
}
