main {
  .tituloSector display-2 {
    color: white;
    margin-top: 4rem;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    transform: translate(400px, -10px);
    width: auto;
    height: auto;
    font-size: 10vh;
  }
  .containerA {
    display: flex;
  }
}
