main {
  .card-title {
    color: black;
    font-size: 30px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    overflow: hidden;
  }
  .card-text {
    color: aliceblue;
  }
}
