main {
  .imagenPersonas {
    margin-left: 30%;
    margin-top: 0.5rem;
  }
  .nuestraPropuesta {
    font-size: 1.25rem;
    text-align: center;
  }
  .card-title {
    color: black;
    font-size: 25px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    margin: 6rem;
    overflow: hidden;
  }
  .card-text {
    color: aliceblue;
  }
}
