main {
  .formulario {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 3rem;
    font-size: 18px;
  }
  .terminos {
    text-align: left;
    font-size: 15px;
  }
  .notificaciones {
    @extend .terminos;
  }
}
