main {
  background-color: map-get($colors, color-five);
  font-size: 20px;
  color: white;

  .container-fluid {
    background-color: beige;
    padding: 2px;
    text-align: center;
    border: solid 4px;
    background-image: linear-gradient(to top, rgb(18, 9, 9), white);
    transform: translate(5px, 30px);
    height: auto;
    width: auto;
    transition: all 4s;
  }

  .principal {
    @include principalP(red);
  }

  h1 {
    font-size: 50px;
    font-style: italic;
  }
  p {
    @include principalP(black);
  }
  .lead {
    font-style: none;
    font-size: 22px;
  }
  .photo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .pic {
    display: flex;
    max-width: 100%;
    margin-top: 5vh;
    justify-content: center;
  }
}
