main {
  .imagenPersonas {
    margin-left: 30%;
    margin-top: 0.5rem;
  }
  .nuestraPropuesta {
    font-size: 1.25rem;
    text-align: center;
  }
  .card-title {
    color: black;
  }
}
