header {
  margin-left: 1rem;
}
.container-fluid {
  background-color: beige;
  padding: 2px;
  text-align: center;
  border: solid 4px;
  background-image: linear-gradient(to top, rgb(18, 9, 9), white);
  transform: translate(5px, 30px);
  height: auto;
  width: auto;
  transition: all 4s;
}

img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.formulario {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 3rem;
  font-size: 18px;
}

.terminos {
  text-align: left;
  font-size: 15px;
}

.notificaciones {
  text-align: left;
  font-size: 15px;
}
.table table-dark table-striped {
  margin-top: 2rem;
  max-width: 70%;
  border: 4px double white;
  transform: translate(150px, -15px);
}

.tituloSector display-2 {
  color: white;
  margin-left: 0.5rem;
  margin-top: 2rem;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  transform: translate(600px, -10px);
  width: auto;
  height: auto;
}

.lead {
  background-color: white;
}

.imagenPersonas {
  margin-left: 30%;
  margin-top: 0.5rem;
}

.nuestraPropuesta {
  font-size: 1.25rem;
  text-align: center;
}
.pic {
  display: flex;
  max-width: 100%;
  margin-top: 5vh;
  justify-content: center;
}

.card {
  margin-top: 4vh;
  background-image: linear-gradient(white, rgb(49, 17, 17));
  transform: translate(10px, 20px);
}
